body {
  margin: 0;
  padding: 0;
  background-color: #ffffe5;
  font-size: 16px;
  font-family: "Helvetica";
}

main {
  width: 250px;
  padding: 20px 20px 50px 20px;
}

h1 {
  position: relative;
  font-size: 1.2rem;
  margin-bottom: 40px;
}

h1::after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  height: 2px;
  width: 80%;
  background-color: black;
}

h2 {
  font-size: 1rem;
  font-family: inherit;
  font-weight: 400;
  margin: 22px 0 5px 0;
}

main button:first-of-type {
  width: 80%;
}

main .select-box {
  width: 80%;
}

button {
  min-width: 90px;
  height: 40px;
  padding: 5px 10px;
  font-size: 0.9rem;
  background-color: #ccccee;
  border: 2px solid black;
  cursor: pointer;
  transition: box-shadow 0.1s ease-out;
}

button:hover {
  box-shadow: 2px 2px black;
}

button:active {
  background-color: #e2e2ff;
  box-shadow: 1px 1px black;
  transform: translateY(1px);
  transition: none;
}

button.square {
  width: 40px;
  height: 40px;
}

.select-box label {
  display: none;
}

label {
  display: block;
  font-size: 0.9rem;
}

select {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  font-size: 1rem;
  background-color: #ccccee;
  border: 2px solid black;
  cursor: pointer;
  transition: box-shadow 0.1s ease-out;
}

select:hover {
  box-shadow: 2px 2px black;
}

select:focus {
  background-color: #e2e2ff;
  outline: none;
  transition: none;
}

#font-size-decrease {
  margin-right: 15px;
}
